<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/favicon.ico" />

    <link rel="stylesheet" href="/style/index.css"/>
    <link rel="stylesheet" href="/style/mobile.css"/>

    <meta property="og:image" content="https://skycms.s3.amazonaws.com/images/5495100/cachorro-card-1.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">

    <title>Hup.chat | Comunicação Whatsapp</title>
</head>
<body>
        <div class="logo"></div>
        <div class="clientes-title"><p>NOSSOS CLIENTES NO TOPO</p></div>
        <div class="clientes-logo"></div>
        <div class="chat-1 row">
            <div class="col icon-hand" ><img src="/images/waving-hand-light-skin-tone-153.png"></div>
            <div class="col">
                <div class="hello"><p>Hello</p></div>
                <div class="talk"><p>Vamos conversar</p></div>
            </div>
        </div>
        <div class="chat-2 row">
            <div class="col face-star" ><img src="/images/star-struck_1f929.png"></div>
            <div class="col">
                <div class="want"><p>Quero</p></div>
                <div class="auto-whats"><p>Automação Whatsapp</p></div>
            </div>
        </div>
        <div class="chat-3 row">
            <div class="dot-1"></div>
            <div class="dot-2"></div>
            <div class="dot-3"></div>
        </div>

        <div class="menu row">
            <div class="icon-menu col"><img src="/images/icon_chat.svg" alt=""></div>
            <div class="col">
                <div class="block-menu"><p class="title-menu">Comunicação</p><p class="subtitle-menu">Vários operadores</p></div>
            </div>
            <div class="icon-menu col"><img src="/images/icon_head-phone.svg" alt=""></div>
            <div class="col">
                <div class="block-menu"><p class="title-menu">Automação</p><p class="subtitle-menu">Atendimento</p></div>
            </div>
            <div class="icon-menu col"><img src="/images/icon_api.svg" alt=""></div>
            <div class="col">
                <div class="block-menu no-border"><p class="title-menu">Integração</p><p class="subtitle-menu">API</p></div>
            </div>
        </div>
         <div class="bobble-1">
            <a href="https://api.whatsapp.com/send?phone=5541991789080&text=Ol%C3%A1%20seja%20bem%20vindo%2C%20voc%C3%AA%20pode%20apagar%20este%20texto%20e%20adicionar%20o%20que%20desejar%20%3AD.%20Inicie%20um%20bate%20papo%20para%20que%20possamos%20esclarecer%20todas%20suas%20d%C3%BAvidas." target="_blank">
            <div class="whatsapp">
            <img src="https://emojipedia-us.s3.amazonaws.com:443/source/skype/289/dog_1f415.png">
            <p id="dog-msg" class="dog-msg">Clica aqui! Clica!</p>
             </div></a>
        </div>
        <div id="bobble1" class="bobble-2"></div>
        <div id="bobble2" class="bobble-3"></div>
        <div id="bobble3" class="bobble-4"></div>
        <div id="bobble4" class="bobble-5"></div>
        <div id="bobble5" class="bobble-6"></div>
        <div id="bobble6" class="bobble-7"></div>
            <div class="telegram">
                <div class="icon-telegram"></div>
                <div class="telegram-msg">
                    <p>A hup.chat integra seu WhatsApp ao Telegram <b>utilizando o mesmo número</b>. Faça atendimento em equipe de todos os canais pela mesma caixa de entrada.</p>
                    <img src="https://emojipedia-us.s3.amazonaws.com:443/source/skype/289/relieved-face_1f60c.png">
                </div>
            </div>
            <div class="automation">
                <div class="icon-automation">
                    <img src="/images/icon-bot.svg">
                </div>
                <div class="automation-msg">
                    <p>Automação de atendimento utilizando Bots, coloque uma máquina na linha de frente e resolva até 40% das chamadas sem interação humana</p>
                    <img src="https://emojipedia-us.s3.amazonaws.com:443/source/skype/289/robot_1f916.png">
                </div>
            </div>
            <div class="facebook">
                <div class="icon-facebook">
                    <img src="/images/icon_facebook.svg">
                </div>
                <div class="facebook-msg">
                    <p>Siiiiiiiiiiim Fazemos integração com a <b>maior rede social do mundo!</b> <br>Faça seu gerenciamento utilizando a mesma caixa de entrada do WhatsApp e Telegram.</p>
                    <img src="https://emojipedia-us.s3.amazonaws.com:443/source/skype/289/monkey_1f412.png">
                </div>
            </div>
            <div class="mult">
                <div class="icon-mult">
                    <img src="/images/icon_head-phone.svg">
                </div>
                <div class="mult-msg">
                    <p>O que?!<br> Você disse que tem vários atendentes?<br><br> Cara, nós somos mestres nisso, <b>atenda Whatsapp, Telegram e Facebook juntos</b>, seja apenas um número ou um montão deles.</p>
                    <img src="https://emojipedia-us.s3.amazonaws.com:443/source/skype/289/winking-face-with-tongue_1f61c.png">
                </div>
            </div>
        <div class="row social">
            <div class="col">
                <a href="https://www.instagram.com/hup.chat/"><div class="social-instagram"><div class="icon"></div></div></a>
                <a href="https://www.facebook.com/hello.hup.chat"><div class="social-facebook"><div class="icon"></div></div></a>
                <a href="https://hup-chat.medium.com/"><div class="social-medium"><div class="icon"></div></div></a>
            </div>
        </div>
        <div class="direitos">
            <p>2021 HUP.CHAT<br>TODOS DIREITOS RESERVADOS</p>
        </div>

</body>
<link rel="stylesheet" href="/style/animation.css"/>
<link rel="stylesheet" href="/style/animation-mobile.css"/>
<script src="/script/animation.js"></script>

</html>